<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
    {% include "header.html" %}
    <main>
        <div class="container">
            {% if form.errors %}
                <p>아이디 또는 비번이 틀립니다.</p>
            {% endif%}

            <form action="{% url 'accounts:login' %}" method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>{{form.username.label_tag}}</td>
                        <td>{{form.username}}</td>
                    </tr>
                    <tr>
                        <td>{{form.password.label_tag}}</td>
                        <td>{{form.password}}</td>
                    </tr>
                </table>
                <input type="submit" value="login">
            </form>
            {% include "footer.html" %}
        </div>
    </main>
</body>
</html>