<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
    <header>
        <h1><a href="/">문구회사</a></h1>
        <ul>
            <li><a href="/company">회사소개</a></li>
            <li><a href="/product">상품소개</a></li>
        </ul>
    </header>

    {%if product %}
        <main class="product-detail">
            <div class="image">
                <img src="media/{{product.img}}"/>
            </div>
            <div class="product-info">
                <h2>{{product.name}}</h2>
                <p>{{product.desc}}</p>
            </div>

        </main>

    {%endif%}
</body>
</html>