<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
    {% include "header.html" %}

        <main>
            <div class="container">
                <h1 class="title">상품</h1>
                {% if product_list %}
                <div class="grid">
                    {% for product in product_list %}
                        <a href="{% url 'detail' product.id%}">
                            <div class="image-wrap">
                                <img src="media/{{product.img}}"/>
                            </div>
                            <div class="product-info">
                                <span class="name">{{product.name}}</span>
                                <span class="price">가격: 1000원</span>
                            </div>
                        </a>
                    {% endfor%}
                </div>
                {% else %}
                    <p>상품이 존재하지 않습니다.</p>
                {%endif%}
            </div>
        </main>
    {% include "footer.html" %}
</body>
</html>