<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
    {% include "header.html" %}

    <main>
        <div class="container">
            {%if product %}
                <div class="product-detail">
                    <div class="image">
                        <img src="media/{{product.img}}"/>
                    </div>
                    <div class="product-info">
                        <h2>{{product.name}}</h2>
                        <span>가격: 1000원</span>
                        <p>{{product.desc}}</p>
                    </div>
                </div>
            {%endif%}
        </div>
    </main>


    {% include "footer.html" %}
</body>
</html>