<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
    {% include "header.html" %}

    <main>
        <div class="container">
            <h1 class="title">회사소개</h1>
            <div class="company">
                <div class="image">
                    <img src="https://t1.daumcdn.net/thumb/R720x0/?fname=http://t1.daumcdn.net/brunch/service/user/7Nj8/image/LkMCT0sdoAU44RJYQ5VZQlT5lFc.jpg"/>
                </div>
                <div class="company-info">
                    <p>저희 회사는 각종 펜, 노트 등 학용품을 만드는 회사입니다.</p>
                </div>
            </div>
        </div>
    </main>

    {% include "footer.html" %}
</body>
</html>