*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}


.container{
    width: 1200px;
    margin: 0 auto;
}

header{
    margin-top: 10px;
    margin-bottom: 40px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
}

header a{
    display: block;
    padding: 10px 15px;
}

.title{
    text-align: center;
    padding: 40px 0;
    color: #333;
    font-size: 24px;
}

/*상품 리스트*/

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

.grid>a{
    display: flex;
    flex-direction: column;
}

.grid .image-wrap{
    width: 100%;
    height: 300px;
    position: relative;
}

.grid img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid .product-info{
    display: flex;
    flex-direction: column;
}

.grid .product-info .name{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

/* 상품 디테일 */
.product-detail{
    padding-top: 40px;
    display: flex;
}

.product-detail>div{
    flex: 1;
}
.product-detail .image img{
    width: 100%;
    object-fit: cover;
}
.product-detail .product-info h2{
    padding-bottom: 20px;
}

/* 회사정보 */
.company{
    display: flex;
    gap: 10px;
}

.company>div{
    flex: 1;
}

/* 홈 */
.intro{
    position: relative;
}
.intro .image{
    height: 400px;
    position: relative;
}

.intro .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro .image::before{
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.intro .intro-desc{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro .intro-desc h1{
    color: #fff;
    text-transform: uppercase;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}